<div class="sidebar-overlay"></div>

<aside class="sidebar" role="navigation">
  <div class="sidebar-header">
    <%= inline_svg "logo-text.svg", height: 42, class: "logo" %>
  </div>

  <ul class="nav sidebar-nav">
    <li><a href="/intro/index.html">简介</a></li>
    <li><a href="/docs/index.html">文档</a></li>
    <li><a href="https://www.amazon.com/gp/product/1449335837/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449335837&linkCode=as2&tag=vagrant-20" target="_TOP">书籍</a></li>
    <li><a href="/vmware/index.html">VMware</a></li>
    <li><a href="/community.html">社区</a></li>
    <li><a href="/assets/files/press-kit.zip">Press Kit</a></li>
  </ul>

  <div class="divider"></div>

  <ul class="external nav sidebar-nav">
    <li>
      <a href="/downloads.html">
        <%= inline_svg "download.svg" %> 下载
      </a>
    </li>
    <li>
      <a href="https://github.com/mitchellh/vagrant">
        <%= inline_svg "github.svg" %> GitHub
      </a>
    </li>
  </ul>
</aside>
